.App {
  text-align: center;
  min-height: 100vh;
}


.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

