.Dictionary section {
    text-align: left;
    background:rgb(255, 230, 230);
    padding:30px;
    border: 2px solid #663399;
    border-radius: 8px;
    box-shadow: 1px 4px 4px 1px rgba(165, 133, 226, 0.2);
    margin: 20px 0;
}

.Dictionary input {
    width: 100%;    
    border-radius: 28px;
    padding: 6px 10px 6px 36px;
    color: #663399;
    border: 3px solid #663399;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDI0IDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjx0aXRsZS8+PHBhdGggZD0iTTIwLjU2LDE4LjQ0bC00LjY3LTQuNjdhNyw3LDAsMSwwLTIuMTIsMi4xMmw0LjY3LDQuNjdhMS41LDEuNSwwLDAsMCwyLjEyLDBBMS40OSwxLjQ5LDAsMCwwLDIwLjU2LDE4LjQ0Wk01LDEwYTUsNSwwLDEsMSw1LDVBNSw1LDAsMCwxLDUsMTBaIiBmaWxsPSIjNDY0NjQ2Ii8+PC9zdmc+");
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 21px 21px;
    box-shadow: none;
    -webkit-appearance: none;
}

.Dictionary input:active, .Dictionary input:hover  {
    box-shadow: 0px 0px  1rem rgba(165, 133, 226, 0.5);
    border: 3px solid #663399c2;
}

.Dictionary form {
   margin: 0;
}

.Dictionary .hint {
    font-size: 11px;
    margin-top: 5px;
}